$número: 0rem;
$columnas: 0.625rem;
$margen-columnas2: 0.625rem;
$margen-columnas: 6.25rem;
$iconos-length: 1.875rem;
$iconos-width: 1.875rem;
$iconos-biglength: 3.125rem;
$iconos-bigwidth: 3.125rem;

.margin-bottom {
    margin-bottom: 100px;
}

.padding-footer {
    padding: $padding-footer;
}


.margin-left {
    margin-left: $margin-left;
}

.margin-left-zeta-bot {
    margin-left: $margin-left-zeta-bot;
}