@use 'color' as *;
@use 'font' as *;
@use 'number' as *;
@use 'layouts' as *;
@use '_general' as *;

$margin-left: 120px;
$padding: 20px 40px 0;
$margin-left-zeta-bot: 30px;
$white: white;
$cien: 100%;
$margin-top: 100px;
$padding-footer: 20px;
$black: black;

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    background: {
        image: url("../img/fondo1.svg"), url("../img/fondo2.svg");
        repeat: no-repeat, no-repeat;
        position: center, center;
        size: cover, cover;
        attachment: fixed;
    }

    background-color: #1a0000;
}




.icono {
    width: 50px;
    height: 50px;

}





.btn {
    border-radius: 20px;
    padding: 10px 20px;

    &-transparent {
        border: 0.5px $white solid;
        background-color: transparent;
        color: $white;
        margin-bottom: 10px;
    }

    &-white {
        background-color: $white;
        color: black;
        border: none;
    }

    &-black {
        background-color: $black;
        color: $white;
        border: none;
    }

}







.align-items-center {
    align-items: center;
}

.h-100 {
    height: $cien;
}

.margin-top {
    margin-top: $margin-top;
}

.section2 {
    grid-column: 1/6;
    grid-row: 2/3;
    margin-bottom: 110px;
}


.section3 {
    grid-column: 6/11;
    grid-row: 2/3;
    margin-left: 80px;
}




.w-100 {
    width: 60%;
}

.width {
    width: 100%;
}



.justify-content-center {
    justify-content: center;
}

footer {
    background-color: $secundario-rojo1;
    position: relative;

}









//npm run buil