$primario-blanco: #ffffff;
$primario-negro: #000000;
$primario-rojo: #ff0000;
$secundario-rojo1: #6d0000;
$secundario-rojo2: #a40000;
$black: black;
$white: white;

.background-red-dark {
    background-color: $secundario-rojo1;
}