/* number */

$font-size-parrafo: 1rem;
$font-size-inter: 1.875rem;
$font-size-header1: 2.5rem;
$font-size-titulo: 1.8425rem;
$line-height-size: 2.5rem;
$line-height-size2: 3.75rem;
$font-size-nav: 1.5625rem;